// Primary Colors
$darkCyan: hsl(158, 36%, 37%);
$darkerCyan: hsl(158, 42%, 18%);
$cream: hsl(30, 38%, 92%);

// Neutral Colors
$darkBlue: hsl(212, 21%, 14%);
$grayBlue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

// Typography

// Font-Family
$font-fraunces: 'Fraunces', serif;
$font-montserrat: 'Montserrat', sans-serif;

// Font-Size
$display: 2rem;
$body: 0.875rem;
$btnText: 0.875rem;
$overline: 0.75rem;

// Font-Weight
$fw-bold: 700;
$fw-md: 500;

// Breakpoints
$tablet: 48em;
$desktop: 64em;
