@use './variables' as *;

/* Box Sizing Rules */
*,
*::after,
*::before {
	box-sizing: border-box;
}

/* Remove Default Spacing */
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html,
body {
	height: 100%;
}

body {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $cream;
	font-optical-sizing: auto;
	font-style: normal;
}

.card {
	width: 343px;
	background-color: $white;
	border-radius: 10px;
	overflow: hidden;

	&__img {
		height: 240px;
		width: 100%;
		background-image: url('./images/image-product-mobile.jpg');
		background-repeat: no-repeat;
		background-size: contain;
	}

	&__content {
		padding: 1.5rem;
	}
}
