@use './variables' as *;

/* Box Sizing Rules */
*,
*::after,
*::before {
	box-sizing: border-box;
}

/* Remove Default Spacing */
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html,
body {
	height: 100%;
}

body {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $cream;
	font-optical-sizing: auto;
	font-style: normal;
}

.card {
	width: 343px;
	background-color: $white;
	border-radius: 10px;
	overflow: hidden;

	@media (min-width: $desktop) {
		width: 600px;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	&__img {
		height: 240px;
		width: 100%;
		background-image: url('./images/image-product-mobile.jpg');
		background-repeat: no-repeat;
		background-size: contain;

		@media (min-width: $desktop) {
			height: 450px;
			width: 100%;
			background-image: url('./images/image-product-desktop.jpg');
		}
	}

	&__content {
		padding: 1.5rem;

		@media (min-width: $desktop) {
			padding: 2rem;
		}

		&___details {
			margin-bottom: 1.5rem;

			@media (min-width: $desktop) {
				margin-bottom: 1.8125rem;
			}

			h1 {
				margin-bottom: 1rem;
				font-family: $font-fraunces;
				font-size: $display;
				font-weight: $fw-bold;
				line-height: 1;
				color: $darkBlue;

				@media (min-width: $desktop) {
					margin-bottom: 1.5rem;
				}
			}

			h2 {
				margin-bottom: 0.75rem;
				font-family: $font-montserrat;
				font-size: $overline;
				font-weight: $fw-md;
				letter-spacing: 5px;
				color: $grayBlue;
				text-transform: uppercase;

				@media (min-width: $desktop) {
					margin-bottom: 1.25rem;
				}
			}

			p {
				font-family: $font-montserrat;
				font-size: $body;
				font-weight: $fw-md;
				line-height: 1.643;
				color: $grayBlue;
			}
		}

		&___price {
			margin-bottom: 1.25rem;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 1.1875rem;

			@media (min-width: $desktop) {
				margin-bottom: 1.875rem;
			}

			.discPrice {
				font-family: $font-fraunces;
				font-size: $display;
				font-weight: $fw-bold;
				line-height: 1;
				color: $darkCyan;
			}

			.regPrice {
				font-family: $font-montserrat;
				font-size: 0.8125rem;
				font-weight: $fw-md;
				text-decoration: line-through;
				color: $grayBlue;
			}
		}

		&___btn {
			width: 100%;
			padding: 0.9375rem;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.725625rem;
			border-radius: 8px;
			background-color: $darkCyan;

			&:hover,
			&:active,
			&:focus {
				background-color: $darkerCyan;
				cursor: pointer;
			}

			p {
				font-family: $font-montserrat;
				font-size: $btnText;
				font-weight: $fw-bold;
				color: $white;
			}
		}
	}
}
